/deploy/.env
/mlteam/.env

/deploy/src

mlteam/.phpunit.cache
mlteam/node_modules
mlteam/public/build
mlteam/public/hot
mlteam/public/storage
mlteam/storage/*.key
mlteam/vendor
mlteam/.env
mlteam/.env.backup
mlteam/.env.production
mlteam/.phpunit.result.cache
mlteam/Homestead.json
mlteam/Homestead.yaml
mlteam/auth.json
mlteam/npm-debug.log
mlteam/yarn-error.log
mlteam//.fleet
